<footer>
  <div class="footer">
    <div class="footer_column">
      <div class="footer_column_title">
        Our Flagship Store
      </div>
      <div class="footer_column_address">
        <div class="address">
          <span>500 Terry Francois Street</span>
          <span>San Francisco, CA 94158</span>
          <span>Tel: 123-456-7890</span>
        </div>
        <span>View Stores List</span>
      </div>
    </div>
    <div class="footer_column">
      <div class="footer_column_title">
        Shop
      </div>
      <div class="footer_column_list">
        <span>Dogs</span>
        <span>Cats</span>
        <span>Birds</span>
        <span>Fish & Aquatics</span>
        <span>Small Animal</span>
        <span>Reptiles</span>
      </div>
    </div>
    <div class="footer_column">
      <div class="footer_column_title">
        Info
      </div>
      <div class="footer_column_list">
        <span>Our Story</span>
        <span>Contact</span>
        <span>Shipping & Returns</span>
        <span>Store Policy</span>
        <span>Forum</span>
        <span>FAQ</span>
      </div>
    </div>
    <div class="footer_column">
      <div class="footer_column_title">
        Become Our Bestie!
      </div>
      <div>
        <img src="assets/icons/facebook.webp">
        <img src="assets/icons/youtube.webp">
        <img src="assets/icons/instagram.webp">
      </div>
    </div>
  </div>
</footer>
