<div class="block_addition">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name">
      <mat-error *ngIf="form.get('name').hasError('required')">
        Name <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      type="submit"
      class="add"
      [disabled]="form.invalid"
      *ngIf="!editingId"
    >
      ADD
    </button>
    <button
      type="button"
      class="edit"
      (click)="update()"
      [disabled]="form.invalid"
      *ngIf="editingId"
    >
      Update
    </button>
  </form>
</div>
<div class="content mat-elevation-z8">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="editButton">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element">
        <app-common-button (click)="edit(element)" text="Edit" [classes]="['button_admin_edit']"></app-common-button>
      </td>
    </ng-container>

    <ng-container matColumnDef="deleteButton">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <app-common-button (click)="delete(element)" text="Delete" [classes]="['button_admin_delete']"></app-common-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
