<div class="sort-by">
  <mat-form-field appearance="fill">
    <mat-label>
      <span class="select_name">Sort By</span>
      <span class="select_icon">&#8593;&#8595;</span>
    </mat-label>
    <mat-select>
      <mat-option value="newest">Newest</mat-option>
      <mat-option value="priceLowToHigh">Price (low to high)</mat-option>
      <mat-option value="priceHighToLow">Price (high to low)</mat-option>
      <mat-option value="nameAZ">Name A-Z</mat-option>
      <mat-option value="nameZA">Name Z-A</mat-option>
    </mat-select>
  </mat-form-field>
</div>
