@import "src/assets/styles/variables";

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 350px;
  @media screen and (max-width: $media-sm) {
    width: 250px;
  }
  @media screen and (max-width: 345px) {
    width: 200px;
  }

  .title {
    font-family: "Poppins", sans-serif;
    color: $fourthColor;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: 0 0 20px;
  }

  .button_group {
    display: flex;
    justify-content: flex-end;
    transition: 2s;

    &:hover .button_login {
      background-color: $fourthColor;
    }

    &:hover .button_cancel {
      background-color: $thirdColor;
    }

    .button_login {
      border: none;
      background-color: $thirdColor;
      color: $secondColor;
      width: 80px;
      height: 40px;
      font-family: "Poppins", sans-serif;
    }

    .button_cancel {
      border: none;
      background-color: $fourthColor;
      color: $secondColor;
      width: 80px;
      height: 40px;
      font-family: "Poppins", sans-serif;
    }
  }

}
