<div class="close" [mat-dialog-close]>X</div>
<div class="modal">
  <div>
    <img [src]="data.product.imageUrl">
  </div>
  <div class="block_description">
    <div>
      <div class="description">
        <div class="title">{{ data.product.name }}</div>
        <div class="price">{{ data.product.price | currency:'USD' }}</div>
      </div>
      <div class="block_quantity">
        <span class="title_quantity">Quantity</span>
        <div class="count">
          <div>{{ count }}</div>
          <div class="switch">
            <div (click)="changeCount(true)">∧</div>
            <div (click)="changeCount(false)">∨</div>
          </div>
        </div>
      </div>
      <div>
        <app-common-button
          text="Add to Card"
          [classes]="['button_add_modal']"
          (click)="addToBasket()"
        ></app-common-button>
      </div>
      <div class="details" [routerLink]="['details/product', data.product._id]" [mat-dialog-close]>
        View More Details
      </div>
    </div>
  </div>
</div>
