<div class="filter">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter By
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            All
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="subcategories">
          <span class="item" *ngFor="let subcategory of subcategories">{{ subcategory }}</span>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Price
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
      </mat-expansion-panel>
    </mat-expansion-panel>
  </mat-accordion>
</div>
