<div class="card">
  <div class="card_image">
    <img [src]=product.imageUrl>
    <div class="quite_view" (click)="openDialog()">
      Quite view
    </div>
  </div>
  <div class="card_description">
    <div class="card_description_title">
      {{ product.name}}
    </div>
    <hr>
    <div class="card_description_price">
      {{ product.price | currency:'USD':true}}
    </div>
  </div>
  <div class="card_footer">
    <div class="count">
      <button
        class="count_button"
        (click)="changeCount(product, false)"
      >
        <img src="assets/icons/minus.png">
      </button>
      <span>{{ count }}</span>
      <button
        class="count_button"
        (click)="changeCount(product, true)"
      >
        <img src="assets/icons/plus.svg">
      </button>
    </div>
    <app-common-button
      mat-stroked-button
      (click)="addToBasket()"
      aria-label="Show an example snack-bar"
      text="Add to Card"
      [classes]="['button_add']"
    ></app-common-button>
  </div>
</div>
