<form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="title">Sing In</div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email"
           placeholder="Ex. pat@example.com">
    <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="form.get('email').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="form.get('password').hasError('minLength') && !form.get('password').hasError('required')">
        Please enter a valid password
      </mat-error>
      <mat-error *ngIf="form.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
  </mat-form-field>
  <div (click)="openDialog()" class="register">You haven't registered yet?</div>
  <div class="button_group">
    <button type="button" class="button_cancel" [mat-dialog-close]>Cancel</button>
    <button type="submit" class="button_login">Login</button>
  </div>
</form>

