@import "src/assets/styles/variables";

.title {
  color: $thirdColor;
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 20px 0;
}

.filter_product_list {
  padding: 30px 0;
  display: flex;
}

.sort_filter {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

::ng-deep .mat-panel-title {
  font-weight: normal;
}
