<header class="header">
  <div class="header_title">
    <div>
      <img class="icon_paw" src="../../../../assets/icons/paw.png">
    </div>
    <div>
      <div class="title">BESTIES</div>
      <div class="description">A Pet's Favorite Place</div>
    </div>
  </div>
  <div class="button_group">
    <div>
      <button
        type="button"
        class="button_admin"
        routerLink="subcategories-addition"
        routerLinkActive="active"
      >
        Subcategories
      </button>
      <button
        type="button"
        class="button_admin"
        routerLink="product-addition"
        routerLinkActive="active"
      >
        Products
      </button>
    </div>
    <div>
    </div>
  </div>
</header>
