<mat-drawer-container>
  <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
    <div class="block_logIn">
      <img class="icon_logIn" src="assets/icons/account.svg">
      <span class="title_logIn">Log in</span>
    </div>
    <button class="close" mat-flat-button (click)="drawer.close()">X</button>
    <div class="categories">
      <div class="categories_title" routerLink="shop-all">SHOP ALL</div>
        <div class="categories_title" routerLink="dogs">DOGS</div>
      <div class="categories_title">CATS</div>
      <div class="categories_title">BIRDS</div>
      <div class="categories_title">FISH & AQUATICS</div>
      <div class="categories_title">SMALL ANIMALS</div>
      <div class="categories_title">REPTILES</div>
      <div class="categories_title">CONTACT</div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleDrawer)="drawer.toggle()"></app-header>
    <router-outlet></router-outlet>
<!--    app-footer-->
  </mat-drawer-content>
</mat-drawer-container>
