<div class="products" *ngIf="basketProducts$ | async as basketProducts">
  <div class="product_list">
    <div class="title">
      My Card
    </div>
    <div class="product_info" *ngFor="let basketProduct of basketProducts">
      <div class="product_description">
        <div>
          <img [src]="basketProduct.imageUrl"/>
        </div>
        <div class="flex">
          <div class="name">{{basketProduct.name}}</div>
          <div class="price">{{ basketProduct.price | currency}}</div>
          <div class="button_count">
            <button
              (click)="changeCount(basketProduct, false)"
            >
              &minus;
            </button>
            <span>{{ basketProduct.amount }}</span>
            <button
              (click)="changeCount(basketProduct, true)"
            >
              +
            </button>
          </div>
        </div>
      </div>
      <div class="sum">
        <div class="product_total">{{ getTotal(basketProduct) | currency }}</div>
        <div class="close" (click)="removeBasketProduct(basketProduct)">
          x
        </div>
      </div>
    </div>
  </div>
  <div class="order">
    <div class="title">
      Order Summary
    </div>
    <div>
      <div class="info_order">
        <div class="order_line">
          <span>Subtotal</span>
          <span>{{ totalSum(basketProducts) | currency }}</span>
        </div>
        <div class="order_line">
          <span>Shipping</span>
          <span>FREE</span>
        </div>
      </div>
      <div class="total">
        <span>Total</span>
        <span>{{ totalSum(basketProducts) | currency }}</span>
      </div>
      <app-common-button
        text="Checkout"
        [classes]="['button_add_modal']"
        (click)="checkout()"
      ></app-common-button>
    </div>
  </div>
</div>
