<div class="container">
  <div class="title">
    Visit Us
  </div>
  <div class="content">
    <div class="column">
      <div class="item">
        <div class="title_item">
          Flagship Store
        </div>
        <div class="description">
          <div class="description_item">
            Tel: 123-456-7890
          </div>
          <div class="description_item">
            500 Terry Francois Street
          </div>
          <div class="description_item">
            San Francisco, CA 94158
          </div>
        </div>
      </div>
      <div class="item">
        <div class="title_item">
          Opening Hours
        </div>
        <div class="description">
          <div class="description_item">
            Mon - Fri: 7am - 10pm
          </div>
          <div class="description_item">
            Saturday: 8am - 10pm
          </div>
          <div class="description_item">
            Sunday: 8am - 11pm
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="item">
        <div class="title_item">
          Store 02
        </div>
        <div class="description">
          <div class="description_item">
            Tel: 123-456-7890
          </div>
          <div class="description_item">
            500 Terry Francois Street
          </div>
          <div class="description_item">
            San Francisco, CA 94158
          </div>
        </div>
      </div>
      <div class="item">
        <div class="title_item">
          Opening Hours
        </div>
        <div class="description">
          <div class="description_item">
            Mon - Fri: 7am - 10pm
          </div>
          <div class="description_item">
            Saturday: 8am - 10pm
          </div>
          <div class="description_item">
            Sunday: 8am - 11pm
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="item">
        <div class="title_item">
          Store 03
        </div>
        <div class="description">
          <div class="description_item">
            Tel: 123-456-7890
          </div>
          <div class="description_item">
            500 Terry Francois Street
          </div>
          <div class="description_item">
            San Francisco, CA 94158
          </div>
        </div>
      </div>
      <div class="item">
        <div class="title_item">
          Opening Hours
        </div>
        <div class="description">
          <div class="description_item">
            Mon - Fri: 7am - 10pm
          </div>
          <div class="description_item">
            Saturday: 8am - 10pm
          </div>
          <div class="description_item">
            Sunday: 8am - 11pm
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

