@import "../../../assets/styles/variables.scss";

mat-drawer-container {
  height: 100%;
}

mat-drawer {
  width: 260px;
  padding: 10px;

  .block_logIn {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $media-md) {
      justify-content: center;
    }

    .icon_logIn {
      width: 26px;
      height: 26px;
      margin: 0 5px;
    }

    .title_logIn {
      color: $thirdColor;
      font-size: 16px;
      font-family: "Catamaran", sans-serif;

    }
  }

  .close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;

    &_title {
      font-size: 16px;
      font-family: "Catamaran", sans-serif;
      color: $firstColor;
      padding: 0 10px;
      font-weight: bold;

      &.active {
        color: $thirdColor;
      }
    }
  }
}
