@import "src/assets/styles/variables";

table {
  width: 100%;
  margin: 0 auto;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.block_content {
  padding: 20px;
}

.mat-form-field {
  width: 100%;
}

.block_edition {
  width: 90%;
  margin: 50px auto;

  .add_image {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
  }
}

.add {
  font-family: "Poppins", sans-serif;
  color: $secondColor;
  background-color: $thirdColor;
  border: none;
  width: 80px;
  height: 45px;
  letter-spacing: 1px;
  font-size: 18px;

  &:hover {
    color: $thirdColor;
    background-color: $secondColor;
    border: 3px solid $thirdColor;
    font-weight: bold;
  }

  &:focus {
    outline: none;
  }
}
