$firstColor: #000;
$secondColor: #fff;
$thirdColor: #FF5F42;
$fourthColor: #019EAA;
$fifthColor: #575757;
$buttonHoverColor: #e62200;
$backgroundBrands: #f5f5f5;

$media-xl: 1280px;
$media-lg: 992px;
$media-md: 769px;
$media-sm: 576px;
