@import "src/assets/styles/variables";

.title {
  color: $thirdColor;
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 20px 0;
}

.sort_filter {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
