@import "src/assets/styles/variables";

.close {
  text-align: end;
  @media screen and (max-width: $media-md) {
    margin: 0 0 20px;
  }
}

.modal {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  @media screen and (max-width: $media-md) {
    flex-wrap: wrap;
  }

  img {
    width: 100%;
  }

  .block_description {
    width: 50%;
    @media screen and (max-width: $media-md) {
      margin: 20px 0 0;
    }

    .description {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 19px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        color: $buttonHoverColor;
      }

      .price {
        font-family: "Catamaran", sans-serif;
        font-size: 16px;
        color: $fifthColor;
        margin: 10px 0 20px;
      }
    }
  }

  .block_quantity {

    .title_quantity {
      font-family: "Catamaran", sans-serif;
      font-size: 14px;
      color: $firstColor;
    }

    .count {
      width: 76px;
      height: 40px;
      border: 1px solid #c9c9c9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 6px 0 10px;
      margin: 10px 0 0;
      &:hover .switch {
        display: block;
      }

      .switch {
        display: none;
        transition: 1s;
      }
    }
  }

  .details {
    font-size: 14px;
    font-family: "Catamaran", sans-serif;
    text-decoration: underline;
  }
}
